body {
    
    margin: 0;
    padding: 0;
}
html {
    font-family: 'Open Sans', sans-serif;
}

.container {

    width: 90%;
    margin: 0 auto;
    min-height: 650px;
}

.main {
    min-height: 300px;
    background: url('img/shutterstock_570014164-600x600.jpg') center center/cover no-repeat;
    padding: 41px 0;
    /*height: 400px;*/
    /*background: rgba(0, 0, 0, 0.5);*/

}

a {
    text-decoration: none;
}
.logo_text {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    color: #f80c0c;
    cursor: pointer;
    padding-right: 40px;
}

.title_line {
    width: 270px;
    height: 4px;
    background-color: #044b23;
    margin-top: 1px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    color: #FFFFFF;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    /*position: fixed;*/
    /*transition: opacity 1.5s ease,bottom 1.5s ease;*/

}

header a {
    color: white;
    font-size: 25px;
    padding-right: 30px;
    /*padding-left: 5px;*/
    width: 100%;
    vertical-align: baseline;
}

.social_links  {
    /*padding-right: 2px;*/
    /*padding-left: 3px;*/
    /*height: 60px;*/
    font-size: 26px;
    /*width: 160px;*/
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    word-spacing: inherit;

}
.body-main {
    position: relative;
}

h1 {
    padding-top: 20px;
}

.title {

    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    margin-top: 70px;
    margin-bottom: 15px;
    color: #FFFFFF;
    text-align: left;
}
.title_text {
    height: 190px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: white;
    /*text-align: center;*/
    
}
 .main_btn {
    width: 211px;
    height: 70px;
    border-radius: 61px;
    border: 2px solid #0f0402;
    box-shadow: 0 0 0 60px rgba(0,0,0,0) inset, .1em .1em .2em rgb(24, 22, 22);
    background: #205803;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
     margin-left: 65px;
     text-align: center;
}

.footer_wrapper {
    display: flex ;
    align-items: center;
    justify-content: space-between;
    background: #000000;
    padding-top: 10px;
    color: #FFFFFF;
}
.footer_item {
    margin-left: 130px;
    font-size: 20px;
    font-weight: bold;
}

.footer_item  p {
    margin-top: 10px;
    font-size: 10px;
}
.social_item  {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    width: 32px;
    height: 32px;
    /*background-color: #070716;*/
    /*border-radius: 100%;*/
}

.sub_footer_wrapper {
    /*display: block;*/
    position: relative;
    /*margin: 0 auto;*/
    /*left: 0;*/
    /*align-items: center;*/
}
.sub_footer_logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute; /* Position the background text */
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #FFFFFF;
    width: 100%;
    vertical-align: baseline;
    cursor: pointer;
}

.sub_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    /*margin: 4px;*/
    /*width: 32px;*/
    /*height: 32px;*/
    margin-left: 80px;
}


/*.sub_footer_delivery  img {*/
/*    margin-top: 10px;*/
/*    font-size: 10px;*/
/*    color: #FFFFFF;*/
/*    margin-left: 80px;*/
/*    font-weight: bold;*/
/*    float: left;*/
/*}*/
.title_line_subfooter {
    height: 4px;
    background-color: #044b23;
    margin-top: 1px;
    width: 260px;
}

.logo_text2 {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    color: #f80c0c;
    width: 326px;
    height: 73px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}

.contact_us {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    float: right;
    background-size: cover;
    position: relative;
    z-index: 2;
    min-height: 1px;
    vertical-align: baseline;
    background: transparent;
    margin-right: 90px;
    font-size: 25px;
    border: #FFFFFF;
    height: 0;
    font-weight: bold;
}
.sub_social_links {
    font-size: 26px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding-right: 50px;
}

.description {
    padding-bottom: 20px;
}



@media (max-width: 992px) {
    
}