body {
    
    margin: 0;
    padding: 0;
}
html {
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
    min-height: 110vh;

}

.main {
    height: 100vh;
    background: url('img/CookingMan.jpg') center center/cover no-repeat;
    padding: 41px 0;
}

.logo_text {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    color: #e10808;
    cursor: pointer;
    padding-right: 40px;
}

.title_line {
    width: 285px;
    height: 4px;
    background-color: #044b23;
    margin-top: 1px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    color: #FFFFFF;
    /*position: fixed;*/
    /*transition: opacity 1.5s ease,bottom 1.5s ease;*/

}

header a {
    color: white;
    font-size: 20px;
    padding-right: 40px;  
   
}

.social_links  {
    /*padding-right: 2px;*/
    /*padding-left: 3px;*/
    /*height: 60px;*/
    font-size: 26px;
    width: 160px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

h1 {
    padding-top: 20px;
}

.title {
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    margin-top: 120px;
    color: #FFFFFF;
    text-align: center;
}
.title_text {
    height: 190px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: white;
    
}

.main .main_btn {
    width: 243px;
    height: 80px;
    border-radius: 61px;
    border: 2px solid #0f0402;
    box-shadow: 0 0 0 60px rgba(0,0,0,0) inset, .1em .1em .2em rgb(24, 22, 22);
    background: #B50707;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

.footer_wrapper {
    display: flex ;
    align-items: center;
    justify-content: space-between;
    background: #000000;
    padding-top: 10px;
    color: #FFFFFF;
}
.footer_item {
    margin-left: 80px;
    font-size: 15px;
    font-weight: bold;
}

.footer_item  p {
    margin-top: 10px;
    font-size: 10px;
}

/*.address > div {*/
/*    width: 33%;*/
/*    nth-child(2);*/
/*    display: flex;*/
/*    justify-content: flex-end;*/
/*    margin-left: 20px;*/




/*.social_links_footer span {*/
/*    width: 30px;*/
/*    height: 30px;*/
/*    margin-right: 60px;*/
/*}*/
/*address {*/
/*    font-style: normal;*/
/*    font-weight: bold;*/
/*    font-size: 14px;*/
/*    line-height: 16px;*/
/*    color: #FFFFFF;*/
/*    text-align: center;*/


.social_item  {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 4px;
    width: 32px;
    height: 32px;
    /*background-color: #070716;*/
    /*border-radius: 100%;*/
}

.sub_footer_wrapper {
    /*display: block;*/
    position: relative;
    /*margin: 0 auto;*/
    /*left: 0;*/
    align-items: center;
}
.sub_footer_delivery {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute; /* Position the background text */
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #FFFFFF; /* Grey text */
    width: 100%;
    vertical-align: baseline;
}

.sub_delivery{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 4px;
    /*width: 32px;*/
    /*height: 32px;*/
}


/*.sub_footer_delivery  img {*/
/*    margin-top: 10px;*/
/*    font-size: 10px;*/
/*    color: #FFFFFF;*/
/*    margin-left: 80px;*/
/*    font-weight: bold;*/
/*    float: left;*/
/*}*/
.title_line_subfooter {
    height: 4px;
    background-color: #044b23;
    margin-top: 1px;
    width: 283px;
}

.logo_text2 {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    color: #E10808;
    width: 326px;
    height: 73px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}
.contact_us {
    display: block;
    color: #FFFFFF;
    float: right;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    position: relative;
    z-index: 2;
    min-height: 1px;
    vertical-align: baseline;
    background: transparent;
}

@media (max-width: 992px) {
    
}